<h1>What is Kumquat?</h1>
<p>
  Kumquat is a password generating interface. Used in conjunction with a typical login form, Kumquat can be used as a convenient alternative to generate a passphrase string with complexity and length. Kumquat aims to address the shortcomings of user-generated passwords by presenting an interface that engages in visual stimulus to trigger remembrance without much effort from the user.
</p>