<title>Welcome to Kumquat: A rodent & dino production</title>

<!--  height="42" width="42" -->
<!-- <img src="../assets/images/kumquat.png" alt="Smiley face"> -->
<div id="kumquatLogo" align="center">
  <%= image_tag("kumquat.png", height: "400", width:"400", alt: "Kumquat")%>
</div>
<div class="center hero-unit">
  <h2>Welcome to Kumquat. If you haven't logged in before, please <a href="register">register</a>, otherwise go ahead and <a href="signin">sign in!</a></h2>
</div>  
<br><br><br>