<p>
- put authentication logic in here (authenticate user to let them login) <br>
   - multi step process:<br>
      1. alphanumeric password<br>
      2. pic pass 1<br>
      3. pic pass 2<br>
      4. pic pass 3<br>
  <br>
- might need to edit routes (scope under user?)<br>

</p>