<% @page_title = "Kumquat | Signup" %>
<h1>Sign Up</h1>
<h3>Fill in the form below to get started with Kumquat.</h3>


<div class="Sign_Form">
<%= render 'form' %>
</div>

<%= link_to 'Back', users_path %>
