<% @page_title = "Kumquat | Signup" %>
<h1>Sign Up</h1>
<h3>Fill in the form below to get started with Kumquat.</h3>

<h1>New User (step <%= @user.current_step + 1 %>)</h1>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
