<title>Welcome to Kumquat: A rodent & dino production</title>

<!--  height="42" width="42" -->
<!-- <img src="../assets/images/kumquat.png" alt="Smiley face"> -->
<div id="kumquatLogo" align="center">
  <%= image_tag("kumquat.png", height: "400", alt: "Kumquat")%>
  <p>Welcome to Kumquat. If you haven't logged in before, please <a href="users/new">register</a>, otherwise go ahead and <a href="/login">log in!</a></p>
</div>  
<br><br><br>

<p>What is Kumquat</p>